
<div id="content">
  <mat-toolbar class="mdc-elevation--z1" style="margin-bottom:1px;">
    <span>{{title}}</span>
    <mat-toolbar-row>
        <nav mat-tab-nav-bar>
          <a mat-tab-link routerLink="/home" routerLinkActive #rla="routerLinkActive">Home</a>
          <a mat-tab-link routerLink="/azure-search" routerLinkActive #rla="routerLinkActive">Azure Search</a>
          <a mat-tab-link routerLink="/graph" routerLinkActive #rla="routerLinkActive">My Trending</a>
          <a mat-tab-link routerLink="/sites" routerLinkActive #rla="routerLinkActive">SharePoint Sites</a>
        </nav>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

